<!-- start custom head snippets -->
<link rel="apple-touch-icon" sizes="144x144" href="/busnumber11/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/busnumber11/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/busnumber11/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="/busnumber11/assets/favicon/site.webmanifest">
<link rel="mask-icon" href="/busnumber11/assets/favicon/safari-pinned-tab.svg" color="#e67e25">
<meta name="apple-mobile-web-app-title" content="Bus Number 11">
<meta name="application-name" content="Bus Number 11">
<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#ffffff">
<link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
